#main-body {
    width: 960px;
    margin: 0 auto;
    background: #EEE;
    display: block;
    color: #777777;
}

.title-text {
    font-family: 'Georgia', Times, 'Times New Roman', serif;
}

header {
    height: 92px;
    width: 960px;
    clear: both;
    color: #777777;
    background: #ffffff;
    border-color: #cccccc;
    overflow: auto;
}

h1 {
    font-size: 32px;
}

h2 {
    font-size: 24px;
}

h3, p {
    font-size: 18px;
}


a {
    text-decoration: none;
    color: inherit;
}

hr {
    margin: 15px 0px;
}


.nav-title {
    width: 650px;
    margin-right: 10px;
    float: left;
}

.title-box {
    margin-left: 50px;
    padding: 30px 20px 30px 20px;
    float: left;
    background: #4aaaa5;
    color: #ffffff;
    font-weight: bold;
}



.nav-items {
    margin: 5px 10px 5px 0px;
    width: 250px; 
    float: left;
    padding: 30px 20px 30px 20px;
    text-align: center;
}

.nav-item-about {
    float:left;
    margin-right: 5px;
    border-right: 1px solid #AAA;
    padding: 5px 10px 5px 5px;
}

.nav-item-portfolio {
    float:left;
    margin-right: 5px;
    border-right: 1px solid #AAA;
    padding: 5px 10px 5px 5px;
}

.nav-item-contact {
    float:left;
    padding: 5px 10px 5px 5px;
}

section {
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 25px;
    margin-bottom: 25px;
    clear: both;
    background: inherit;
    border-color: #dddddd;
    overflow: auto;
}

.main-section {
    background: #fff;
    margin-right: 10px;
    width: 580px;
    padding: 15px;
    float: left;
}

.main-section-header {
    font-weight: bold;
    color: #4aaaa5;
}

.main-section-content {
}

.sub-content {
    margin-top: 10px;
    padding: 10px;
    line-height: 1.5;
}

.underline {
    text-decoration: underline;
}

.img-profile {
    float: left;
    margin: 10px;
    height: 150px;
    width: 150px;
}

.side-bar {
    background: #fff;
    margin-left: 10px;
    width: 200px;
    padding: 15px;
    float: right;
    text-align: center;
    
}

.side-bar-header {
    color: #4aaaa5;
    font-weight: bold;
}

.side-bar-content {
    
}

.img-icon {
    width: 62px;
    height: 62px;
}

footer {
    padding: 30px;
    text-align: center;
    clear: both;
    color: #EEE;
    background: #666666;
    border-top: 5px solid #4aaaa5;
}